body {
    background: grey;
    font-family: sans-serif;
}
div{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin:30px 100px 30px 100px;
}
#button1{
    background-color: #008080;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
#button2{
    background-color: #FFA500;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
#button3{
    background-color: #800080;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}